<!-- <div class="col">
  <div class="image-container">
    <img
      [src]="product.images[0]"
      (click)="redirectToDetails(product.id)"
      class="product-image"
      alt="Product image"
    />
  </div>
  <div class="details">
    <span
      class="stock-badge"
      [ngClass]="product.stock > 0 ? 'in-stock' : 'out-of-stock'"
    >
      {{ product.stock > 0 ? "In Stock" : "Out of Stock" }}
    </span>
    <h4 class="product-title">{{ product.title }}</h4>
    <p class="price">{{ product.price | currency }}</p>
    <div class="rating-container">
      <div
        *ngFor="let star of stars"
        class="rating-star"
        [ngClass]="{
          filled: star <= rating,
          empty: star > rating
        }"
      ></div>
    </div>
    <div class="action-buttons">
      <button
        class="action-btn"
        (click)="addToCart(product.id)"
        [disabled]="amount === product.stock"
      >
        Add to Cart
      </button>
      <button class="details-btn" (click)="redirectToDetails(product.id)">
        View Details
      </button>
    </div>
  </div>
</div> -->
<div class="col" (click)="redirectToDetails(product.id)">
  <div class="card shadow bg-body-tertiary rounded-5 position-relative">
    @if (product.stock > 0 && product.availabilityStatus === "In Stock") {<span
      class="bg-success px-3 text-light rounded-5 position-absolute mt-3 mx-3"
      >in Stock</span
    >} @else if (product.stock > 0 && product.availabilityStatus === "Low
    Stock") {
    <span
      class="bg-warning px-3 text-light rounded-5 position-absolute mt-3 mx-3"
      >Low Stock</span
    >
    } @else if (product.stock == 0) {
    <span
      class="bg-danger px-3 text-light rounded-5 position-absolute mt-3 mx-3"
      ><output></output>Out of Stock</span
    >
    }

    <img
      [src]="product.thumbnail"
      height="300"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ product.title }} <span> ${{ product.price }}</span>
      </h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">
        Rating:
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
          <i
            *ngIf="product.rating >= star"
            class="fas fa-star"
            style="color: #198754"
          ></i>
          <i
            *ngIf="product.rating < star && product.rating >= star - 0.5"
            class="fas fa-star-half-alt"
            style="color: #198754"
          ></i>
          <i
            *ngIf="product.rating < star - 0.5"
            class="far fa-star"
            style="color: lightgray"
          ></i>
        </ng-container>
      </p>
      <button
        class="btn btn-outline-success rounded-5"
        (click)="addToCart(product.id)"
        [disabled]="amount === product.stock"
      >
        Add to cart
      </button>
    </div>
  </div>
</div>
