/* .custom-navbar {
  background-color: #333;
  color: #fff;
}
.nav-link {
  color: #f8f9fa !important;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #ffa500 !important;
}

.navbar-toggler {
  border-color: #ffa500;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12.5a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm0-4a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm0-4a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11z"/></svg>');
}

.cart-link {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  display: flex;
  align-items: center;
}

.cart-text {
  font-size: 1.2rem;
  margin-right: 8px;
}

.cart-badge {
  background-color: #ffa500;
  color: #fff;
  font-size: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.active {
  color: #ffa500 !important;
  font-weight: bold;
}*/

.active-link {
  color: #198754;
  /* background-color: #198754; */
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}
.active-link {
  transition: color 0.3s;
}
